.markdown {
  h2 {
    color: #000;
    font-family: "Noto Sans JP";
    font-size: var(--font-size-editor-head-h3, 26px);
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.78px;
  }

  h3,
  h4,
  h5,
  h6 {
    color: #222;
    font-family: "Noto Sans JP";
    font-size: var(--font-size-editor-head-h4, 22px);
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 35.2px */
  }

  p {
    margin-top: 30px;

    color: #000;
    text-align: justify;
    font-family: "Noto Sans JP";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;


    a {
      color: #007EA4;
      text-align: justify;
      font-family: "Noto Sans JP";
      font-size: var(--font-size-editor-list, 16px);
      font-style: normal;
      font-weight: 400;
      line-height: 190%;
      letter-spacing: 0.64px;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  ul {
    margin-top: 60px;

    p {
      margin-top: 0;
    }

    li {
      margin-top: 10px;
    }

    >li {
      position: relative;
      padding-left: 20px;

      &::before {
        position: absolute;
        top: 12px;
        left: 4px;
        content: "";
        display: block;
        background-color: #BAB8B3;
        border-radius: 100%;
        width: 6px;
        height: 6px;
      }

      >ul {
        margin-top: 0;

        >li {
          position: relative;
          padding-left: 20px;

          &::before {
            position: absolute;
            top: 12px;
            left: 4px;
            content: "";
            display: block;
            background-color: #fff;
            border-radius: 100%;
            width: 6px;
            height: 6px;
            border: 1px solid #BAB8B3;
          }
        }
      }
    }

  }
}
